{
  "configurations": [
    {
      "nagios-env": {
        "nagios_contact": "admin@localhost.com"
      }
    }
  ],
  "host_groups": [
    {
      "name": "master",
      "components": [
        {
          "name": "NAMENODE"
        },
        {
          "name": "SECONDARY_NAMENODE"
        },
        {
          "name": "RESOURCEMANAGER"
        },
        {
          "name": "HISTORYSERVER"
        },
        {
          "name": "NAGIOS_SERVER"
        },
        {
          "name": "GANGLIA_SERVER"
        },
        {
          "name": "APP_TIMELINE_SERVER"
        },
        {
          "name": "ZOOKEEPER_SERVER"
        },
        {
          "name": "DATANODE"
        },
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "GANGLIA_MONITOR"
        },
        {
          "name": "ZOOKEEPER_CLIENT"
        },
        {
          "name": "HDFS_CLIENT"
        },
        {
          "name": "YARN_CLIENT"
        },
        {
          "name": "MAPREDUCE2_CLIENT"
        }
      ],
      "cardinality": "1"
    },
    {
      "name": "slave_1",
      "components": [
        {
          "name": "DATANODE"
        },
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "SQOOP"
        },
        {
          "name": "GANGLIA_MONITOR"
        }
      ],
      "cardinality": "2"
    }
  ],
  "Blueprints": {
    "blueprint_name": "multi-node-hdfs-yarn",
    "stack_name": "HDP",
    "stack_version": "{{ HDP_VERSION }}"
  }
}
