{
  "configurations": [
    {
      "nagios-env": {
        "nagios_contact": "admin@localhost.com"
      }
    },
        {
            "hdfs-site" : {
                "dfs.datanode.data.dir":"{{ dfs_datanode_data_dir }}",
                "dfs.namenode.checkpoint.dir":"{{ dfs_namenode_checkpoint_dir }}",
                "dfs.namenode.name.dir":"{{ dfs_namenode_name_dir }}",
                "dfs.datanode.data.dir.perm":"700"
            }
        },
        {
            "hadoop-env" : {
                "hdfs_log_dir_prefix" : "{{ hdfs_log_dir_prefix }}",
                "hadoop_pid_dir_prefix": "{{ hadoop_pid_dir }}"
            }
        },
        {
            "yarn-site" : {
                "yarn.nodemanager.local-dirs":"{{ yarn_nodemanager_local_dirs }}",
                "yarn.nodemanager.log-aggregation.compression-type":"gz",
                "yarn.nodemanager.log-dirs":"{{ yarn_nodemanager_log_dirs }}"
            }
        },
        {
            "yarn-env" : {
                "yarn_log_dir_prefix" : "{{ yarn_log_dir_prefix }}",
                "yarn_pid_dir_prefix": "{{ hadoop_pid_dir }}"
            }
        },
        {
            "oozie-site": {
                "oozie.service.JPAService.create.db.schema" : "true",
                "oozie.service.JPAService.jdbc.driver" : "org.postgresql.Driver",
                "oozie.service.JPAService.jdbc.username" : "{{ oozie_username }}",
                "oozie.service.JPAService.jdbc.password" : "{{ oozie_password }}",
                "oozie.db.schema.name" : "oozie"
            }
        },
        {
            "oozie-env" : {
                "oozie_data_dir" : "{{ oozie_data_dir }}",
                "oozie_database" : "Existing PostgreSQL Database",
                "oozie_existing_postgresql_database" : "PostgreSQL",
                {% for host in groups['database_server'] %}
                "oozie_existing_postgresql_host": "{{ hostvars[host]['ansible_fqdn'] }}",
                {% endfor %}
                "oozie_pid_dir": "{{ hadoop_pid_dir }}"
            }
        },
        {
            "hive-site" : {
                "javax.jdo.option.ConnectionDriverName" : "org.postgresql.Driver",
                "javax.jdo.option.ConnectionPassword" : "{{ hive_password }}",
                {% for host in groups['database_server'] %}
                "javax.jdo.option.ConnectionURL" : "jdbc:postgresql://{{ hostvars[host]['ansible_fqdn'] }}:5432/hive",
                {% endfor %}
                "javax.jdo.option.ConnectionUserName" : "{{ hive_username }}"
            }
        },
        {
            "hive-env" : {
                "hcat_log_dir" : "{{ hcat_log_dir }}",
                "hcat_pid_dir" : "{{ hadoop_pid_dir}}",
                "hive_log_dir" : "{{ hive_log_dir }}",
                "hive_pid_dir" : "{{ hadoop_pid_dir}}",
                "hive_database" : "Existing PostgreSQL Database",
                "hive_database_name" : "hive",
                "hive_database_type" : "postgres",
                "hive_existing_postgresql_database" : "PostgreSQL"
            }
        }
  ],
  "host_groups": [
    {
      "name": "operations",
      "components": [
        {
          "name": "AMBARI_SERVER"
        },
        {
          "name": "NAGIOS_SERVER"
        },
        {
          "name": "GANGLIA_SERVER"
        },
        {
          "name": "ZOOKEEPER_SERVER"
        },
        {
          "name": "DATANODE"
        },
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "GANGLIA_MONITOR"
        },
        {
          "name": "ZOOKEEPER_CLIENT"
        },
        {
          "name": "FALCON_CLIENT"
        },
        {
          "name": "HIVE_CLIENT"
        },
        {
          "name": "HDFS_CLIENT"
        },
        {
          "name": "YARN_CLIENT"
        },
        {
          "name": "SQOOP"
        },
        {
          "name": "MAPREDUCE2_CLIENT"
        }
      ],
      "cardinality": "1"
    },
    {
      "name": "master1",
      "components": [
        {
          "name": "NAMENODE"
        },
        {
          "name": "DATANODE"
        },
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "GANGLIA_MONITOR"
        }
      ],
      "cardinality": "1"
    },
    {
      "name": "master2",
      "components": [
        {
          "name": "RESOURCEMANAGER"
        },
        {
          "name": "APP_TIMELINE_SERVER"
        },
        {
          "name": "DATANODE"
        },
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "GANGLIA_MONITOR"
        }
      ],
      "cardinality": "1"
    },
    {
      "name": "master3",
      "components": [
        {
          "name": "SECONDARY_NAMENODE"
        },
        {
          "name": "DATANODE"
        },
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "GANGLIA_MONITOR"
        }
      ],
      "cardinality": "1"
    },
    {
      "name": "master4",
      "components": [
        {
          "name": "OOZIE_SERVER"
        },
        {
          "name": "FALCON_SERVER"
        },
        {
          "name": "OOZIE_CLIENT"
        },
        {
          "name": "DATANODE"
        },
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "GANGLIA_MONITOR"
        }
      ],
      "cardinality": "1"
    },
    {
      "name": "master5",
      "components": [
        {
          "name": "HIVE_SERVER"
        },
        {
          "name": "WEBHCAT_SERVER"
        },
        {
          "name": "DATANODE"
        },
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "GANGLIA_MONITOR"
        }
      ],
      "cardinality": "1"
    },
    {
      "name": "slave",
      "components": [
        {
          "name": "DATANODE"
        },
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "GANGLIA_MONITOR"
        }
      ],
      "cardinality": "1"
    },
  ],
  "Blueprints": {
    "blueprint_name": "multi-node-hdfs-yarn",
    "stack_name": "HDP",
    "stack_version": "{{ HDP_VERSION }}"
  }
}
